/* =Shortcodes  : Resume Entry 
-------------------------------------------------------------- */

.resume-entry {
	position: relative;
	
	margin-bottom: 10px;
}

.resume-entry .date {
	color: #484744;
	float: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	font-style: italic;
}

.resume-entry h4 {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}

.resume-entry p {
	margin: 0;
}

.resume-entry-decoration,
.resume-skill-decoration {
	position: absolute;
	top: 0;
	left: -36px;
	width: 6px;
	height: 100%;
	
	background: url(images/resume-decoration.png);
}

/* =Shortcodes  : Resume Skill 
-------------------------------------------------------------- */

.resume-skill {
	position: relative;
	
	margin-bottom: 10px;
}

.resume-skill h4 {
	font-size: 12px;
	font-weight: bold;
	padding: 5px 0;
}

.resume-skill .bar {
	width: 75%;
	height: 25px;
	
	background: #eeeeee;
	float: right;
}

.resume-skill .bar-fill {
	position: relative;
	width: 50%;
	height: 25px;
	
	background: url(../images/skill-bar-bg.png);
}

.resume-skill .bar-edge {
	position: absolute;
	top: 0;
	width: 6px;
	height: 25px;
	
	background: url(../images/skill-bar-edge.png);
}

.resume-skill .bar-edge-left {
	left: 0;
	
}

.resume-skill .bar-edge-right {
	right: 0;
	
}
